*,
::before,
::after{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html,body{
  height: 100vh;
  padding: 1rem 2rem;
}


.App{
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.search{
  display: flex;
  margin: 0 0 .5rem 0;
}

.coin{
  display: flex;
}

.coin > div{
  flex:50%;
}

.coin:hover{
  cursor: pointer;
  background-color:#ccc;
}

.coins{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap:2rem;
}